<%= form_for(@quotation) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% @quotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.select("item_id", @item.map {|c| [c.itemname,c.id]} )%>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.select("supplier_id", @supplier.map {|c| [c.name,c.id]} )%>
  </div>
  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate ,:maxlength =>10 %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
