<h1>Listing items</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Code</th>
    <th>&nbsp;</th>
    <th>Itemname</th>
    <th>&nbsp;</th>
    <th>Manufacturer</th>
    <th>&nbsp;</th>
    <th>Unit</th>
    <th>&nbsp;</th>
    <th>Description</th>
    <th>&nbsp;</th>
    <th>Category</th>
    <th>&nbsp;</th>
    <th>Suppliers</th>
    <th>&nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.code %></td><td>&nbsp;</td>
    <td><%= item.itemname %></td><td>&nbsp;</td>
    <td><%= item.manufacturer %></td><td>&nbsp;</td>
    <td><%= item.unit %></td><td>&nbsp;</td>
    <td><%= item.description[0..20] %></td><td>&nbsp;</td>
    <% @cat=Category.find(item.category_id) %>
    <td align="center"><%= @cat.name  %></td><td>&nbsp;</td>
    <%  @supplier=Stockist.find_by_item_id(item.id) %>
    <% if @supplier.nil? %>
    <td><%= link_to 'add supplier', new_item_stockist_path(item) %></td><td>&nbsp;</td>
    <% else %>
    <td><%= link_to 'suppliers',new_item_stockist_path(item) %></td><td>&nbsp;</td>
    <% end %>
    <td><%= link_to 'Details', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
<%= link_to 'New Category', new_category_path %>